.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
}

.content-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .4s;
  transform-style: preserve-3d;
}

.content-card-flipped {
  transform: rotateY(180deg);
}

.card-back {
  transform: rotateY(180deg);
  box-shadow: 3px 3px 10px 0px rgb(0 0 0 / 50%);
}

.card-front {
  background-color: #84DCCF;
  box-shadow: 3px 3px 10px 0px rgb(0 0 0 / 50%);
}
